#navBar {
    width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    #navCart {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        #cartWrapper {
            width: 30px;
            img {
                width: 100%;
            }
        }
    }
    #navLogo {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        #logoWrapper {
            width: 200px;
            img {
                width: 100%;
            }
        }    
    }
    #navRoutes {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 20px;
        #nav {
            display: flex;
            list-style: none;
            li {
                margin: 0 30px;
            }
        }
    }
}