@import '../../../common/cms';
@import '../../../common/fonts';
@import '../../../common/vars';

#adminMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  #messagesList {
    @extend %cms-box;
    @extend %cms-list;
    .message-box {
      &:nth-child(odd) {
        background-color: #dff9fb;
      }
      .message-item {
        @extend %text-medium;
        @extend %cms-list-item;
        cursor: pointer;
        .message-feature {
          flex: 1;
          display: flex;
          justify-content: flex-start;
        }
        .message-remove {
          flex: 0 0 50px;
          ion-icon {
            font-size: 18px;
            &:hover {
              cursor: pointer;
              color: $red;
            }
          }
        }
        &.message--unread {
          font-weight: 800;
        }
      }
      .message-full-text {
          height: 0;
          overflow: hidden;
        &.message--open {
          height: auto;
          padding: 40px 20px;
          border-bottom: 1px solid $grey;
          border-left: 1px solid $grey;
        }
      }
    }
    .message-item{
      @extend %cms-list-item;
      &.message-header {
        @extend %cms-list-header;
        .message-photo {
          flex: 0 0 70px;
        }
      }
    }
  }
}