@import './fonts';

%btn {
    @extend %nav;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}

%btn--black {
    border: 1px solid #000;
}