@import './fonts';
@import './vars';

%btn {
    @extend %nav;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

%btn--black {
    border: 1px solid #000;
    &:hover {
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
    }
}
%btn--color {
  border: 1px solid $mint;
  background-color: $mint;
  color: #fff;
}
%btn--big {
    width: 180px;
    height: 50px;
}