@import '../vars';
@import '../fonts';

.select-input {
  height: 35px;
  width: 100px;
  position: relative;
  //z-index: 99999;
  .select-error {
    @extend %error;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
  }
  .select-value {
    @extend %nav;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid $grey;
  }
  .select-options-wrapper {
    position: absolute;
    left: 0;
    top: 36px;
    width: 100%;
    border: 1px solid $grey;
    background-color: #fff;
    z-index: 999999;
    .select-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @extend %nav;
      font-size: 10px;
      letter-spacing: normal;
      height: 35px;
      cursor: pointer;
      padding: 0 10px;
      &:hover {
        background-color: $grey;
      }
      .option-value {
        &.value-size {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
          span {
            font-size: 10px;
            text-transform: lowercase;
          }
          &.disabled {
            cursor: not-allowed;
            color: $grey;
            &:hover {
              color: #fff;
            }
          }
          &.last-one {
            span {
              color: red;
            }
          }
        }
      }

    }
  }
}