@import '../../common/buttons';
@import '../../common/fonts';

#mainPage {
  #productsAll {
    display: flex;
    flex-wrap: wrap;
    .product-item {
      width: 25%;
      padding: 15px;
      .product-img-wrapper {
        width: 100%;
        position: relative;
        .product-img {
          width: 100%;
        }
        .sale-label {
          @extend %text-medium;
          padding: 5px 10px;
          position: absolute;
          top: 20px;
          right: 0;
          background-color: $mint;
          color: #fff;
          &.new-label {
            background-color: #fff;
            color: $mint;
          }
        }
        &:hover {
          cursor: pointer;
          opacity: .9;
        }
      }
      .product-info {
        margin-top: 25px;
        .product-info-collection {
          @extend %text-small;
          border-bottom: 1px solid transparent;
          &:hover {
            cursor: pointer;
            border-bottom: 1px solid $mint;
          }
        }
        .product-info-title {
          @extend %text-large;
          margin-top: 10px;
          text-transform: capitalize;
        }
        .product-info-price {
          @extend %text-medium;
          margin-top: 15px;
          display: flex;
          color: $mint;
          .price-none {
            text-decoration: line-through;
            margin-right: 10px;
            color: #000;
          }
        }
      }
    }
    .products-not-found {
      @extend %text-large;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
  #collectionTitle {
    @extend %heading-medium;
    margin: 30px 15px;
    display: flex;
    color: $mint;
  }
}

@media all and (max-width: 767px) {

  #mainPage {
    #productsAll {
      .product-item {
        width: 50%;
        padding: 15px;
      }
    }
  }

}

@media all and (max-width: 500px) {

  #mainPage {
    #productsAll {
      .product-item {
        padding: 10px;
        .product-info {
          margin-top: 15px;
          .product-info-collection {
            border-bottom: 1px solid transparent;
            &:hover {
              cursor: pointer;
              border-bottom: 1px solid $mint;
            }
          }
          .product-info-title {
            margin-top: 10px;
            text-transform: capitalize;
          }
          .product-info-price {
            margin-top: 10px;
          }
        }
      }
      .products-not-found {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
    #collectionTitle {
      margin: 30px 15px;
      display: flex;
      color: $mint;
    }
  }

}