@import '../../common/buttons';
@import '../../common/fonts';
@import '../../common/vars';
@import '../../common/inputs';

#checkoutPage {
  padding: 30px;
  #checkoutWrapper {
    display: flex;
    #checkoutCta {
      flex: 3;
      display: flex;
      flex-direction: column;
      padding-right: 50px;
      border-right: 1px solid $grey;
      #checkoutAddress {
        .address-row {
          display: flex;
        }
        .address-input-wrapper {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-bottom: 30px;
          .address-label {
            @extend %nav;
            margin-bottom: 10px;
          }
          .address-input {
            @extend %input;
          }
          .input-error {
            @extend %error;
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
          }
          &.address-input-row {
            flex: 1;
            &:nth-child(even) {
              margin-left: 15px;
            }
            &:nth-child(odd) {
              padding-right: 15px;
            }
          }
        }

      }
      #checkoutDelivery {

      }
      #checkoutPayment {
        display: flex;
        flex-direction: column;
        .payment-label {
          @extend %nav;
          margin-left: 30px;
        }
        #checkoutSubmitBtn {
          @extend %btn;
          @extend %btn--color;
          width: 220px;
          height: 50px;
          margin-left: auto;
          margin-top: 20px;
        }
      }
      .checkbox-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        .checkbox-label {
          flex: 1;
          @extend %nav;
          margin-left: 30px;
        }
        .checkbox {
          flex: 0 0 20px;
        }
      }
      .info-error {
        @extend %error;
        margin-bottom: 20px;
        margin-left: 50px;
      }
    }
    #checkoutProducts {
      flex: 2;
      padding-left: 50px;
      #checkoutProductsList {
        margin-bottom: 20px;
        .checkout-product-item {
          display: flex;
          align-items: center;
          .checkout-product-img {
            flex: 0 0 70px;
            position: relative;
            img {
              width: 100%;
              height: auto;
            }
            p {
              position: absolute;
              top: 3px;
              right: 3px;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
            }
          }
          .checkout-product-feature {
            flex: 1;
            @extend %text-medium;
            display: flex;
            justify-content: center;
          }
        }
      }
      .delivery-amount {
        display: flex;
        justify-content: space-between;
        @extend %text-medium;
        margin-bottom: 20px;
      }
      .promo-code-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $grey;
        .promo-code-input {
          @extend %input;
        }
        .verify-btn {
          @extend %btn;
          @extend %btn--black;
        }
      }
      .final-amount {
        display: flex;
        justify-content: space-between;
        @extend %heading-medium;
      }
    }
    .checkout-title {
      @extend %heading-medium;
      margin-bottom: 30px;
    }
  }
}