@import '../../../../../common/cms';
@import '../../../../../common/fonts';
@import '../../../../../common/vars';
@import '../../../../../common/buttons';

#orderDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  @extend %cms-box;
  .order-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .bar-title {
      @extend %heading-small;
    }
    .bar-actions {
      .btn-delivery {
        width: auto;
        padding: 0 10px;
        @extend %btn;
        @extend %btn--green;
      }
    }
  }
  .section-title {
    @extend %heading-small;
    margin-bottom: 20px;
  }
  .order-content {
    display: flex;
    .order-wrapper {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $grey;
      .info-item-wrap {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .info-label {
          @extend %label;
          margin-bottom: 5px;
        }
        .info-value {
          @extend %text-small;
        }
      }
    }
    .order-products {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-right: 30px;
      border-right: 1px solid $grey;
      .order-product {
        @extend %cms-list-item;
      }
      .product-header {
        @extend %cms-list-header;
      }
      .list-feature {
        flex: 1;
      }
      .product-photo {
        flex: 0 0 100px;
        display: flex;
        justify-content: center;
        .photo-wrap {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 70px;
          height: 100px;
        }
      }
    }
    .order-user {
      flex: 1;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
    }
  }

}

@media all and (max-width: 767px) {

  #orderDetails {
    //flex: 1;
    //display: flex;
    //flex-direction: column;
    .order-bar {
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      flex-direction: column;
      //margin-bottom: 30px;
      .bar-title {
      }
      .bar-actions {
        margin-top: 20px;
        .btn-delivery {
          //width: auto;
          //padding: 0 10px;
        }
      }
    }
    .section-title {
      //margin-bottom: 20px;
    }
    .order-content {
      //display: flex;
      flex-direction: column;
      .order-wrapper {
        //margin-bottom: 30px;
        //padding-bottom: 30px;
        //border-bottom: 1px solid $grey;
        .info-item-wrap {
          //margin-bottom: 10px;
          //display: flex;
          //justify-content: space-between;
          .info-label {
            flex: 1;
            //margin-bottom: 5px;
          }
          .info-value {
            flex: 1;
            text-align: right;
          }
        }
      }
      .order-products {
        //flex: 1;
        //display: flex;
        //flex-direction: column;
        padding-right: 0;
        border-right: none;
        .order-product {
          padding: 10px 0;
          .product-name {
            display: none;
          }
        }
        .product-header {
          padding: 20px 0;
          font-size: 12px;
          .product-name {
            display: none;
          }
        }
        .list-feature {
          //flex: 1;
          font-size: 12px;
        }
        .product-photo {
          flex: 0 0 100px;
          //display: flex;
          //justify-content: center;
          .photo-wrap {
            //background-position: center;
            //background-repeat: no-repeat;
            //background-size: cover;
            width: 70px;
            height: 100px;
          }
        }
      }
      .order-user {
        //flex: 1;
        padding-left: 0;
        //display: flex;
        //flex-direction: column;
      }
    }

  }

}