@import '../../../../../common/cms';
@import '../../../../../common/fonts';
@import '../../../../../common/buttons';
@import '../../../../../common/vars';
@import '../../../../../common/inputs';

#productDetails {
  @extend %cms-box;
  flex: 1;
  flex-direction: column;
  padding: 30px 50px;
  #details {
    .feature-edit-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      ion-icon {
        margin-left: 10px;
        &:hover {
          color: $admin;
          cursor: pointer;
        }
      }
    }
    #productDetailsBar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      #barTitle {
        @extend %heading-small;
      }
      #barWrapper {
        display: flex;
        align-items: center;
        .active {
          color: $green;
        }
        .no-active {
          color: $red;
        }
        #barEditBtn {
          @extend %btn;
          @extend %btn--red;
          margin-left: 30px;
        }
      }
    }
    #productDetailsContent {
      display: flex;
      .content-column {
        @extend %cms-column;
        .content-box {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          .label {
            @extend %heading-small;
          }
          .value {
            @extend %text-large;
          }
          .feature-item {
            margin-bottom: 10px;
          }
          .switch-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .product-switch {
              margin-left: 30px;
            }
          }
        }
        .content-info {

        }
        .content-promo {
          flex-direction: row;
          div {
            flex: 1;
          }
        }
        .content-sizes {
          .content-size {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            &.active {
              //.label {
              //  @extend %text-large;
              //}
              .value-err {
                color: $red;
              }
              .value-warn {
                color: $yellow;
              }
              .value-ok {
                color: $green;
              }
            }
            &.no-active {
              color: $grey;
            }
            .label {
              @extend %text-large;
              font-weight: 800;
              flex: 0 0 100px;
              margin-bottom: 0;
            }
          }
        }
        .content-photos {
          flex-direction: row;
          .details-photo {
            flex: 0 0 140px;
            height: 200px;
            margin-right: 20px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .modal-wrap {
    .modal-content {
      .edit-modal-wrap {
        display: flex;
        flex-direction: column;
        .modal-title {
          @extend %heading-small;
          margin-bottom: 40px;
        }
        .modal-input-wrap {
          margin-bottom: 20px;
          min-width: 300px;
          .input-label {
            @extend %label;
            margin-bottom: 10px;
          }
          .edit-input {
            @extend %input;
            width: 100%;
          }
          .modal-select {
            width: 100%;
          }
        }
        .modal-buttons-wrap {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          .modal-btn-submit {
            @extend %btn;
            @extend %btn--green;
          }
          .modal-btn-cancel {
            @extend %btn;
            @extend %btn--red;
            margin-left: 20px;
          }
        }
      }
    }
  }
}